In [1]:
import pandas as pd

create a dataframe views with two columns: datetime and user by reading feed- views.log

In [2]:
views = pd.read_csv("../data/feed-views.log", sep='\t', names=['datetime', 'user'])

In [3]:
views.head(20)

                      datetime        user
0   2020-04-17 12:01:08.463179       artem
1   2020-04-17 12:01:23.743946       artem
2   2020-04-17 12:27:30.646665       artem
3   2020-04-17 12:35:44.884757       artem
4   2020-04-17 12:35:52.735016       artem
5   2020-04-17 12:36:21.401412      oksana
6   2020-04-17 12:36:22.023355      oksana
7   2020-04-17 13:55:19.129243       artem
8   2020-04-17 15:00:33.138530       artem
9   2020-04-17 15:14:09.581054       artem
10  2020-04-17 22:46:26.785035   vladislav
11  2020-04-18 00:30:45.051569       artem
12  2020-04-18 10:53:52.623447  konstantin
13  2020-04-18 10:56:55.833899       maxim
14  2020-04-18 10:57:37.331258  konstantin
15  2020-04-18 11:02:42.796521       artem
16  2020-04-18 12:05:48.200144       maxim
17  2020-04-18 12:06:13.237290       maxim
18  2020-04-18 12:06:35.574114       maxim
19  2020-04-18 12:19:50.182714   ekaterina

convert the datetime to the datetime64[ns] Dtype

In [4]:
# views['datetime'] = pd.to_datetime(views['datetime'])

views['datetime'] = views['datetime'].astype('datetime64[ns]')

In [5]:
views['datetime'].dtype

dtype('<M8[ns]')

In [6]:
views['datetime'].dtype

dtype('<M8[ns]')

extract the year, month, day, hour, minute, and second from the values of that
column to the new columns

In [7]:
views['year'] = pd.DatetimeIndex(views['datetime']).year
views['month'] = pd.DatetimeIndex(views['datetime']).month
views['day'] = pd.DatetimeIndex(views['datetime']).day
views['hour'] = pd.DatetimeIndex(views['datetime']).hour
views['minute'] = pd.DatetimeIndex(views['datetime']).minute
views['second'] = pd.DatetimeIndex(views['datetime']).second

create the new column daytime

you need to assign the particular time of day value if an hour is within a particular interval

0.00 – 03.59 night, 

04.00 – 06.59 early morning, 

07.00 – 10.59 morning, 

11.00 – 16.59 afternoon, 

17.00 – 19.59 early evening, 

20.00 – 23.59 evening

use the method cut to solve this subtask

In [8]:
views['daytime'] = pd.cut(x=views['hour'], bins=[-1, 03.99, 06.99, 10.99, 16.99, 19.99, 23.59],
                    labels=['night', 'early morning', 'morning',
                            'afternoon', 'early evening', 'evening'])

assign the column user as the index

In [9]:
views = views.set_index('user')

 calculate the number of elements in your dataframe
 
  use the method count()

In [10]:
views.count()

datetime    1076
year        1076
month       1076
day         1076
hour        1076
minute      1076
second      1076
daytime     1076
dtype: int64

calculate the number of elements in each time of day category using the method value_counts()

In [11]:
views['daytime'].value_counts()

evening          509
afternoon        252
early evening    145
night            129
morning           36
early morning      5
Name: daytime, dtype: int64

ort values in your dataframe by hour, minute, and second in ascending order (simultaneously and not one by one)

In [12]:
views.sort_values(by=['hour', 'minute', 'second'], inplace=True)

calculate the maximum of hour for the rows where the time of day is night

In [13]:
# max_night_hour = views.loc[views['daytime'] == 'night']['hour'].max()
# max_night_hour
views.loc[views['daytime'] == 'night']['hour'].max()

3

calculate the minimum of hour for the rows where the time of day is morning

In [14]:
min_morning_hour = views.loc[views['daytime'] == 'morning']['hour'].min()
min_morning_hour

8

In [15]:
# views.loc[views['hour'] == 7]

find out who visited the page at those hours

(make one example from that)

In [16]:
early_bird = views.loc[views['hour'] == min_morning_hour].index[0]
early_bird

'alexander'

In [17]:
views['hour'].mode()

0    22
Name: hour, dtype: int64

calculate the mode for the hour and daytime

In [18]:
views['daytime'].mode()

0    evening
Name: daytime, dtype: category
Categories (6, object): ['night' < 'early morning' < 'morning' < 'afternoon' < 'early evening' < 'evening']

show the 3 earliest hours in the morning and the corresponding usernames and the

3 latest hours and the usernames using nsmallest() and nlargest()

DataFrame.nsmallest(n, columns, keep='first')
Return the first n rows with the smallest values in columns, in ascending order. The columns that are not specified are returned as well, but not used for ordering.

In [19]:
earliest_3_views = views.loc[views['daytime'] == 'morning'].nsmallest(3, 'hour')
earliest_3_views

,datetime,year,month,day,hour,minute,second,daytime
user,,,,,,,,
alexander,2020-05-15 08:16:03.918402,2020,5,15,8,16,3,morning
alexander,2020-05-15 08:35:01.471463,2020,5,15,8,35,1,morning
alexander,2020-05-15 09:02:24.999438,2020,5,15,9,2,24,morning

In [20]:
latest_3_views = views.loc[views['daytime'] == 'evening'].nlargest(3, 'hour')
latest_3_views

,datetime,year,month,day,hour,minute,second,daytime
user,,,,,,,,
ekaterina,2020-05-14 23:02:11.327532,2020,5,14,23,2,11,evening
ekaterina,2020-05-14 23:02:14.494985,2020,5,14,23,2,14,evening
ekaterina,2020-05-14 23:02:15.588808,2020,5,14,23,2,15,evening

use the method describe() to get the basic statistics for the columns

In [21]:
views_statistics = views.describe()
views_statistics

         year        month          day         hour       minute       second
count  1076.0  1076.000000  1076.000000  1076.000000  1076.000000  1076.000000
mean   2020.0     4.870818    13.552974    16.249071    29.629182    29.500929
std       0.0     0.335557     4.906567     6.955490    17.689388    17.405506
min    2020.0     4.000000     1.000000     0.000000     0.000000     0.000000
25%    2020.0     5.000000    11.000000    13.000000    14.000000    14.000000
50%    2020.0     5.000000    13.000000    19.000000    29.000000    30.000000
75%    2020.0     5.000000    15.000000    22.000000    46.000000    45.000000
max    2020.0     5.000000    30.000000    23.000000    59.000000    59.000000

calculate the interquartile range for the hour by extracting values from the result of the describe() method and store it in the variable iqr

In [22]:
iqr = views_statistics['hour']['75%'] - views_statistics['hour']['25%']
iqr

9.0