Just checking if pandas is installed and if its not then you need to run the instalation (commented code below)

In [60]:
print(pd.__version__)

# pip install pandas

1.5.0

Make imports

In [61]:
import pandas as pd

Reading csv from log file with pandas,separate by tab, setting col names, skipping rows as were asked, setting datetime col as index col

In [62]:
df = pd.read_csv("../data/feed-views.log", sep='\t', names=['datetime', 'user'], skiprows=[2,3], skipfooter=2, engine='python', index_col='datetime')

Checking fisrt five rows

In [63]:
df.head()

                              user
datetime
2020-04-17 12:01:08.463179   artem
2020-04-17 12:01:23.743946   artem
2020-04-17 12:35:52.735016   artem
2020-04-17 12:36:21.401412  oksana
2020-04-17 12:36:22.023355  oksana

Checking last five rows

In [59]:
df.tail()

                                 user
datetime
2020-05-21 16:36:40.915488  ekaterina
2020-05-21 17:49:36.429237      maxim
2020-05-21 18:45:20.441142  valentina
2020-05-21 23:03:06.457819      maxim
2020-05-21 23:23:49.995349      pavel

In [68]:
df.to_csv('feed-views-semicolon.log', sep=';')