In [35]:
import pandas as pd

download and read the CSV file and make ID the index column

In [36]:
auto = pd.read_csv('../data/auto.csv', index_col='ID')

count the number of observations using the method count()

In [37]:
auto.count()

CarNumber       931
Make_n_model    931
Refund          914
Fines           869
History          82
dtype: int64

drop the duplicates, taking into account only the following columns: CarNumber, Make_n_model, Fines

â—¦ between the two equal observations, you need to choose the last

In [38]:
auto = auto.drop_duplicates(subset=['CarNumber', 'Make_n_model', 'Fines'], keep='last')

check the number of observations again

In [39]:
auto.count()

CarNumber       725
Make_n_model    725
Refund          713
Fines           665
History          65
dtype: int64

check how many values are missing from each column

In [40]:
missing_values = auto.isnull().sum()
missing_values

CarNumber         0
Make_n_model      0
Refund           12
Fines            60
History         660
dtype: int64

drop all the columns with over 500 missing values using the argument thresh,
check how many missing values are in each column

In [41]:
auto = auto.dropna(axis='columns', thresh=500)
auto.isnull().sum()

CarNumber        0
Make_n_model     0
Refund          12
Fines           60
dtype: int64

replace all the missing values in the Refund column with the previous value in that column for that cell, 

use the argument method, check how many values are missing from each column

In [42]:
auto = auto.fillna(method='backfill')
auto.isnull().sum()

CarNumber       0
Make_n_model    0
Refund          0
Fines           1
dtype: int64

In [43]:
auto.loc[auto['Fines'].isnull()]

        CarNumber    Make_n_model  Refund  Fines
ID
930  H419XE197RUS  Toyota Corolla     2.0    NaN

replace all the missing values in the Fines column with the mean value of this column 

(exclude NA/null values when computing the mean value), 

check how many values are missing from each column

In [44]:
auto['Fines'] = auto['Fines'].fillna(auto['Fines'].mean())
auto.isnull().sum()

CarNumber       0
Make_n_model    0
Refund          0
Fines           0
dtype: int64

use the method apply both for splitting and for extracting the values to the new columns Make and Model

In [45]:
# auto[['Make','Model']] = auto['Make_n_model'].str.split(' ',expand=True)

In [46]:
def ft_make(string):
    string = string.split()
    make = string[0]
    return make

def ft_model(string):
    string = string.split()
    model = None
    if len(string) > 1:
        model = string[1]
    return model

In [47]:
auto['Make'] = auto['Make_n_model'].apply(ft_make)
auto['Model'] = auto['Make_n_model'].apply(ft_model)
auto.head()

       CarNumber  Make_n_model  Refund   Fines    Make  Model
ID
0   Y163O8161RUS    Ford Focus     2.0  3200.0    Ford  Focus
1    E432XX77RUS  Toyota Camry     1.0  6500.0  Toyota  Camry
2    7184TT36RUS    Ford Focus     1.0  2100.0    Ford  Focus
3   X582HE161RUS    Ford Focus     2.0  2000.0    Ford  Focus
5   92918M178RUS    Ford Focus     1.0  5700.0    Ford  Focus

drop the column Make_n_model

In [48]:
auto = auto.drop(columns=['Make_n_model'])
auto.columns

Index(['CarNumber', 'Refund', 'Fines', 'Make', 'Model'], dtype='object')

save the dataframe in the JSON file auto.json in the format below:
 
[{"CarNumber":"Y163O8161RUS","Refund":2.0,"Fines":3200.0,"Make":"Ford","Model":"Focus"},{"CarNumber":"
E432XX77RUS","Refund":1.0,"Fines":6500.0,"Make":"Toyota","Model":"Camry"}]

In [49]:
auto.to_json(path_or_buf='../data/auto.json', orient='records')

In [50]:
# cat auto.json