In [41]:
import pandas as pd

load the JSON file that you created in the previous exercise into a dataframe

In [42]:
selects = pd.read_json('../data/auto.json')

set CarNumber as the index column

In [43]:
selects = selects.set_index('CarNumber')

MAKE SELECTS

In [44]:
# selects.count()

display the rows only where the fines are more than 2,100

In [45]:
fines_select = selects.loc[selects['Fines'] > 2100]
fines_select

              Refund         Fines        Make    Model
CarNumber
Y163O8161RUS       2   3200.000000        Ford    Focus
E432XX77RUS        1   6500.000000      Toyota    Camry
92918M178RUS       1   5700.000000        Ford    Focus
H234YH197RUS       2   6000.000000        Ford    Focus
E40577152RUS       1   2200.000000        Ford    Focus
...              ...           ...         ...      ...
O718MM163RUS       2  11400.000000        Ford    Focus
7065C8197RUS       2  11400.000000  Volkswagen   Passat
O22097197RUS       1  24300.000000        Ford    Focus
M0309X197RUS       1  22300.000000        Ford    Focus
H419XE197RUS       2   8718.508287      Toyota  Corolla

[434 rows x 4 columns]

display the rows only where the fines are more than 2,100 and the refund equals 2

In [46]:
refund_select = fines_select.loc[fines_select['Refund'] == 2]

display the rows only where the models are from the list: [’Focus’, ’Corolla’]

In [47]:
model_select = selects[selects['Model'].isin(['Focus', 'Corolla'])]
model_select

              Refund         Fines    Make    Model
CarNumber
Y163O8161RUS       2   3200.000000    Ford    Focus
7184TT36RUS        1   2100.000000    Ford    Focus
X582HE161RUS       2   2000.000000    Ford    Focus
92918M178RUS       1   5700.000000    Ford    Focus
H234YH197RUS       2   6000.000000    Ford    Focus
...              ...           ...     ...      ...
Y163O8161RUS       2   1600.000000    Ford    Focus
M0309X197RUS       1  22300.000000    Ford    Focus
O673E8197RUS       2    600.000000    Ford    Focus
8610T8154RUS       1   2000.000000    Ford    Focus
H419XE197RUS       2   8718.508287  Toyota  Corolla

[593 rows x 4 columns]

display the rows only where the car number is from the list: [’Y7689C197RUS’,
’92928M178RUS’, ’7788KT197RUS’, ’H115YO163RUS’, ’X758HY197RUS’]

In [48]:

selects.loc[selects.index.isin(['Y7689C197RUS','92928M178RUS', '7788KT197RUS', 'H115YO163RUS', 'X758HY197RUS'])]

              Refund     Fines  Make  Model
CarNumber
92928M178RUS       1   63300.0  Ford  Focus
H115YO163RUS       1    2200.0  Ford  Focus
7788KT197RUS       2   12000.0  Ford  Focus
X758HY197RUS       2   24200.0  Ford  Focus
X758HY197RUS       2   72600.0  Ford  Focus
Y7689C197RUS       1   27000.0  Ford  Focus
92928M178RUS       1     600.0  Ford  Focus
H115YO163RUS       1   30300.0  Ford  Focus
H115YO163RUS       2    1100.0  Ford  Focus
7788KT197RUS       2    1500.0  Ford  Focus
7788KT197RUS       1   20000.0  Ford  Focus
X758HY197RUS       2  145200.0  Ford  Focus
92928M178RUS       1    1200.0  Ford  Focus
Y7689C197RUS       2    9000.0  Ford  Focus
Y7689C197RUS       2   45000.0  Ford  Focus
7788KT197RUS       2    4000.0  Ford  Focus
Y7689C197RUS       1   36000.0  Ford  Focus
92928M178RUS       2    3000.0  Ford  Focus

MAKE AGGREGATIONS

display the median fines grouped by the make

In [49]:
make_group_median = selects.groupby('Make')['Fines']
make_group_median.median()

Make
Audi          4200.0
BMW           4300.0
Ford          3000.0
Skoda         3000.0
Toyota        7350.0
Volkswagen    3900.0
Volvo         8500.0
Name: Fines, dtype: float64

display the median fines grouped by the make and the model

In [50]:
make_n_model_fines_group = selects.groupby(['Make','Model'])['Fines']
make_n_model_fines_group.median()

Make        Model
Ford        Focus      3000.0
            Mondeo     7650.0
Skoda       Octavia    3000.0
Toyota      Camry      6850.0
            Corolla    7700.0
Volkswagen  Golf       4200.0
            Jetta      2800.0
            Passat     3500.0
            Touareg    5800.0
Name: Fines, dtype: float64

display the number of fines grouped by the make and the model in order to understand if we can trust the median values

In [51]:
make_model_fines_size = make_n_model_fines_group.count()
make_model_fines_size

Make        Model
Ford        Focus      575
            Mondeo       6
Skoda       Octavia     48
Toyota      Camry       16
            Corolla     18
Volkswagen  Golf        20
            Jetta        6
            Passat      22
            Touareg      5
Name: Fines, dtype: int64

display the minimum and the maximum fines grouped by the make and the model in order to better understand the variance

In [52]:
min_fines = make_n_model_fines_group.min()
max_fines = make_n_model_fines_group.max()

print('\n******************************\n','MINIMUM FINES\n\n',min_fines,'\n\n******************************\n','MAXIMUM FINES\n\n', max_fines)

******************************
 MINIMUM FINES

 Make        Model
Ford        Focus       100.0
            Mondeo     1100.0
Skoda       Octavia     200.0
Toyota      Camry       500.0
            Corolla     900.0
Volkswagen  Golf        200.0
            Jetta       500.0
            Passat      100.0
            Touareg     500.0
Name: Fines, dtype: float64

******************************
 MAXIMUM FINES

 Make        Model
Ford        Focus      180000.0
            Mondeo      46200.0
Skoda       Octavia    145000.0
Toyota      Camry       22400.0
            Corolla     34300.0
Volkswagen  Golf       168000.0
            Jetta       46000.0
            Passat      29700.0
            Touareg     20800.0
Name: Fines, dtype: float64

display the standard deviation of the fines grouped by the make and the model in order to better understand the variance

In [53]:
std = make_n_model_fines_group.std()
std

Make        Model
Ford        Focus      15394.931963
            Mondeo     18987.329108
Skoda       Octavia    31263.304615
Toyota      Camry       6732.359666
            Corolla     9627.864527
Volkswagen  Golf       37047.299426
            Jetta      17743.026799
            Passat      7003.445349
            Touareg     8171.474775
Name: Fines, dtype: float64

display the car numbers grouped by the number of the fines in descending
order, we want to find those who most often violated the law

In [54]:
criminals = selects.groupby('CarNumber')['Fines'].count().sort_values(ascending=False)
criminals

CarNumber
Y7689C197RUS    4
92928M178RUS    4
7788KT197RUS    4
H115YO163RUS    3
X758HY197RUS    3
               ..
E42577152RUS    1
E42377152RUS    1
E41977152RUS    1
E41577152RUS    1
H917TC36RUS     1
Name: Fines, Length: 531, dtype: int64

select from the initial dataframe all the rows corresponding to the top-1 car number, we want to zoom in a little bit

In [55]:
selects.loc[selects.index.isin([criminals.index[0]])]

              Refund    Fines  Make  Model
CarNumber
Y7689C197RUS       1  27000.0  Ford  Focus
Y7689C197RUS       2   9000.0  Ford  Focus
Y7689C197RUS       2  45000.0  Ford  Focus
Y7689C197RUS       1  36000.0  Ford  Focus

display the car numbers grouped by the sum of the fines in descending order, we want to find those who paid the most

In [56]:
top_paid = selects.groupby('CarNumber')['Fines'].sum().sort_values(ascending=False)
top_paid

CarNumber
X758HY197RUS    242000.0
9020YC197RUS    217500.0
M0279X197RUS    216000.0
Y352O8197RUS    207200.0
Y778EE197RUS    192000.0
                  ...
Y195O8161RUS       100.0
705787163RUS       100.0
K326T8197RUS       100.0
83218C154RUS       100.0
C58078163RUS       100.0
Name: Fines, Length: 531, dtype: float64

select from the initial dataframe all the rows corresponding to the top-1 car number, we want to zoom in a little bit

In [57]:
selects.loc[selects.index.isin([top_paid.index[0]])]

              Refund     Fines  Make  Model
CarNumber
X758HY197RUS       2   24200.0  Ford  Focus
X758HY197RUS       2   72600.0  Ford  Focus
X758HY197RUS       2  145200.0  Ford  Focus

display a table that answers the question: are there any car numbers that were connected to different models?

In [58]:
selects.loc[selects.groupby('CarNumber')['Model'].nunique() > 1]

Empty DataFrame
Columns: [Refund, Fines, Make, Model]
Index: []